<div id='game-info' class="info-sidebar">
    <h4 id='player-one-name'> _ </h4>
    <p>
        <span class='fa fa-heart'></span> HP (<span id='player-one-hp'>100</span> / 100) 
        <progress id='player-one-hp-val' value="100" max="100" style="width: 100%" ></progress>
        <span class='fa fa-bolt'></span> ENERGY (<span id='player-one-en'>100</span> / 100) 
        <progress id='player-one-en-val' value="100" max="100" style="width: 100%"></progress>
    </p>

    <h4 id='player-two-name'> _ </h4> 
    <p>
        <span class='fa fa-heart'></span> HP (<span id='player-two-hp'>100</span> / 100) 
        <progress id='player-two-hp-val' value="100" max="100" style="width: 100%" ></progress>
        <span class='fa fa-bolt'></span> ENERGY (<span id='player-two-en'>100</span> / 100) 
        <progress id='player-two-en-val' value="100" max="100" style="width: 100%"></progress>
    </p>
    <hr/>
    Cursor position: <p id='game-coordinates' style="display: inline">X: 0 &nbsp; Y: 0 </p>
    <p> Visible FOV: <input type="checkbox" onchange="toggleFov()"> </p>
    <p> Show names: <input type="checkbox" onchange="toggleRobotNames()"></p>
</div>