<header>
    <h1 class="smaller-header"> <span class="html-tag-icon"> &lt; </span> 
        NETBOTS 
        <span class="html-tag-icon"> /&gt; </span> 
    </h1>
    <p> Multiplayer programming game</p>
</header>