<section class='loading-window' id='loader-section'>
    <div class="loading-background">
        <p class="loading-text"> Loading... </p>
        <div class="loading-foreground" id='progress-foreground'></div>
    </div>
</section>