<div class="modal-blanket" id="modal-window">
    <div class="modal">
        <h3> Are you sure ? </h3>
        <p id='modal-content'> </p>
        <div class="modal-footer">
            <hr/>   
            <button class="btn btn-primary" title="Cancel action" onclick="closeModal()"> Cancel </button>
            <button class="btn btn-danger" id='modal-confirm' title="Confirm action"> Confirm </button>
        </div>
    </div>
</div>