<nav class='navbar'>
    <!-- Mobile -->
    <div class="nav-dropdown" style="width: 100%; height: 56px; background-color: #464141;">
      <button class="menu-button" id='list-menu-button' style="display: block" aria-label="Menu">
          <span class="fa fa-bars"> </span>
      </button>
    </div>

    <!-- Large screen -->
    <ul class='navbar-list' id='navbar-items'>
        <li> <a class="{{#if active.index}}navlink-active{{/if}}" href='/'> Home </a> </li>
        <li> <a class="{{#if active.documentation}}navlink-active{{/if}}" href='/documentation'> Documentation </a></li>
        <li> <a class="{{#if active.leaderboards}}navlink-active{{/if}}" href='/leaderboards'> Leaderboard </a></li>

        {{#if authenticated}}
            <li> <a class="{{#if active.practice}}navlink-active{{/if}}" href='/practice'> Practice </a> </li>
            <li> <a class="{{#if active.multiplayer}}navlink-active{{/if}}" href='/lobby'> Multiplayer </a> </li>
            <li class="navlink-right"> <a href="/logout"> Logout </a></li>
            <li class="navlink-right"> <a class="{{#if active.profile}}navlink-active{{/if}}" href="/profile"> My Profile </a></li>
            {{#if user.isAdmin}}
                <li class="navlink-right"><a class="{{#if active.users}}navlink-active{{/if}}" href="/users/manage-users"> Users </a></li>
            {{/if}}
        {{else}}
            <li class="navlink-right"> <a class="{{#if active.login}}navlink-active{{/if}}" href="/login"> Login </a> </li>
            <li class="navlink-right"> <a class="{{#if active.register}}navlink-active{{/if}}" href="/register"> Register</a> </li>
        {{/if}}
    </ul>
</nav>
