<!doctype html>
<html lang="en-US">

<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name='theme-color' content="#24508d">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="dfaqM2ExSDKv-pXazTwa2FsCeyY9gDOF6Vtg06-cQ0g" />
    {{#if metaDescription }}
        <meta name="{{metaDescription.name}}" content="{{metaDescription.content}}">
    {{/if}}
    <link rel="icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    {{#if identicons}}
        <script src="https://cdn.jsdelivr.net/npm/jdenticon@2.1.1"></script>
        <script>
            window.jdenticon_config = {
                backColor: "#afafafc3"
            };
        </script>
    {{/if}}
</head>

<body>
    {{> navbar }}
    {{{body}}}
    <script src="/static/js/ui/menu-toggle.js"></script>
</body>

</html>
