<section class="section-full-size">
    <form method="post">
        <label> Key </label>
        <input type="text" name="key" max="25" required>
        <label> Title </label>
        <input type="text" name="title" required />
        <label> Description </label>
        <textarea name="description"></textarea>
        <label> Exp value </label>
        <input type="number" name="expValue" />
        <label> Icon name </label>
        <input type="text" name="iconName" />
        <button type="submit"> Submit </button>
    </form>
</section>