<section class="container container-center">
    <form class='form' method="POST" action="/users/change-password/{{token}}">
        <h2 class='form-legend'> SET NEW PASSWORD </h2>

        {{#if errors}}
        <ul class='error-list'>
            {{#each errors as |error|}}
            <li> {{ error }} </li>
            {{/each}}
        </ul>
        {{/if}}

        <input class='input' placeholder='New password' name='password' type='password' required />
        <input class='input' placeholder='Repeat new password' name='newPassword' type='password' required />
        <button type='submit' class="btn btn-primary btn-fluid" style="margin-bottom: 10px"> 
            Submit
        </button>
    </form>
</section>