<section class="section-full-size">
    <div class="message-box error-box" style="margin: 0 auto;">
        <h2> Error </h2>
        {{#if message}}
        <p> {{message}} </p>
        {{/if}}
    </div>
</section>