{{> header }}
<main>
    <article>
        <h3> > PROGRAMMING AS GAMEPLAY </h3>
        <p>
            <img src="/static/img/ui/code.png" class="article-img" style="float: right;" alt="JS coding as gameplay"/>
            Code behavior of your bots by writing real JavaScript. Game is not designed to teach programming from scratch. 
            However, it could be used as a platform to sharpen your skills, explore algorithms and AI programming.
        </p>
    </article>

    <article>
        <h3> > REAL TIME MULTIPLAYER </h3>
        <p>
            <img src='/static/img/ui/multiplayer.png' class="article-img" style="float: left;" alt="Real time multiplayer battles" />
            Game allows players to compete against each other in realtime. Gain experience points by winning battles and unlock achievements as you progress.
        </p>
    </article>

    <article>
        <h3> > LEADERBOARDS </h3>
        <p>
            Compete againts other players for the top spots in the leaderboards. Show-off the strongest robot you have managed to create
            to your friends and other people around the world.
        </p>
    </article>
</main>
{{> footer }}