<section class="section-full-size">
    <h2 class="section-header padded-header">
        MULTIPLAYER
    </h2>
    <hr/>
    <div class="message-box error-box" style="visibility:hidden; margin: 0 auto;" id='error-container'>
    </div>
    <div id='loading-status'>
        <p style="text-align: center;"> Searching for opponent... </p>
        <div class="spinner" id='loading-indicator'> </div>
    </div>
</section>

<script src="/static/js/game/matchmaking.js"></script>