<section class='container container-center'>
    <form class='form' method="POST" action="/register">
        <h2 class='form-legend'> CREATE NEW ACCOUNT </h2>

        {{#if errors}}
        <ul class='error-list'>
            {{#each errors}}
            <li> {{ msg }} </li>
            {{/each}}
        </ul>
        {{/if}}

        <input class='input' name='username' placeholder='Username' type='text' required value="{{ getValueOrEmpty form.username }}" />
        <input class='input' name='email' placeholder='Email' type='email' required value="{{ getValueOrEmpty form.email }}" />
        <input class='input' name='password' placeholder='Password' type='password' required />
        <input class='input' name='passwordRepeat' placeholder='Repeat password' type='password' required />
        <button type='submit' class='btn btn-primary btn-fluid'>
            Sign Up
        </button>
    </form>
</section>