<section class="container container-center">
    <form class='form' method="POST" action='/users/reset-password'>
        <h2 class='form-legend'> RESTORE PASSWORD </h2>

        {{#if errors}}
        <ul class='error-list'>
            {{#each errors as |error|}}
            <li> {{ error }} </li>
            {{/each}}
        </ul>
        {{/if}}

        <input class='input' placeholder='Email address' name='email' type='email' required />
        <button type='submit' class="btn btn-primary btn-fluid" style="margin-bottom: 10px"> 
            Submit
        </button>
    </form>
</section>