html, body {
    height: 100%;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

hr {
    border-style: solid;
    border-bottom: #2f2f2f;
}

body {
    background: linear-gradient(90deg, rgba(100, 139, 222, 1) 0%, rgba(54, 108, 172, 1) 100%);
}

main {
    background-color: #cecece;
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(200px, 1050px);
}

select {
    padding: 5px;
    border-radius: 1px;
    appearance: none;
    border-style: solid;
    -webkit-appearance: none; 
   -moz-appearance: none;
}

header {
    margin: 0 auto;
    padding: 75px 50px 50px 50px;
    color: #d3d4cd;
    font-size: 25px;
    text-align: center;
    background-image: url('/static/img/ui/nodes.png');
}

@media only screen and (max-width: 500px) {
    .smaller-header {
        font-size: 1.6em;
    }
}

article {
    padding: 20px;
}

article h3 {
    color: rgb(187, 57, 47);
    font-size: 23px;
}

article p {
    color: #2f2f2f;
    line-height: 28px;
    text-align: justify;
}

.article-img {
    border-radius: 3px;
    box-shadow: 5px 4px 4px 2px #ababab;
}

@media only screen and (min-width: 900px) {
    article:nth-child(even)>h3 {
        text-align: right;
    }
}

article:nth-child(odd) .article-img {
    margin-left: 15px;
}

article:nth-child(even) .article-img {
    margin-right: 15px;
}

@media only screen and (max-width: 900px) {
    .article-img {
        display: none;
    }
}

a {
    color: #f9f9f9;
}

footer {
    background-color: #464646;
    height: 100px;
}

/* Form */

.form {
    padding: 40px 40px 40px 40px;
    background-color: aliceblue;
    border-radius: 2px;
    flex-basis: 300px;
    min-width: 200px;
    box-shadow: 0px 0px 9px #464646;
}

.form>.input {
    margin: 6px 12px 6px auto;
    box-sizing: border-box;
}

.form>.btn {
    margin-top: 6px;
}

.rounded {
    border-radius: 2px;
}

.error-list {
    background-color: rgb(245, 164, 164);
    border-radius: 2px;
    padding: 10px 10px 10px 30px;
    box-sizing: border-box;
}

.profile-form>input {
    float: left;
    margin: 6px 12px 6px auto;
    padding: 5px 70px 10px 0;
    border: 1px solid #afaeae;
    border-radius: 2px;
    color: #5e5e5e;
    transition: all 0.2s;
    min-width: 300px;
    padding: 0.7em 0.8em;
}

.profile-form>input:focus {
    background-color: rgb(252, 252, 252);
    box-shadow: 0px 0px 2px 0px rgb(66, 100, 255);
}

.profile-form>label{
    float: left;
    padding: 13px 0 10px 0;
    clear: both;
    display: block;
    width: 200px;
    font-size: 17px;
}

/* Flex box */

.container {
    display: flex;
    height: calc(100% - 60px);
    padding-top: 60px;
}

.container-center {
    align-items: center;
    justify-content: center;
}

/* Headers */

.form-legend {
    font-size: 18px;
    font-weight: normal;
    color: #494949;
    border-bottom: 1px solid #5c6bc0;
    padding-bottom: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
    text-align: center;
}

.input {
    border: 1px solid #afaeae;
    border-radius: 2px;
    width: 100%;
    color: #5e5e5e;
    transition: all 0.2s;
    min-width: 100px;
    padding: 0.7em 0.8em;
}

.input:focus {
    background-color: rgb(252, 252, 252);
    box-shadow: 0px 0px 2px 0px rgb(66, 100, 255);
}

/* Navigation */

.navbar {
    display: grid;
    position: fixed;
    width: 100%;
    background-color: #5a5a5a;
    box-shadow: 0px 1px 6px #363636;
    top: 0;
    z-index: 1;
}

.navbar-list {
    list-style-type: none;
    padding-right: 20px;
}

.navbar-list>li {
    display: inline;
    border-radius: 3px;
    transition: 0.3s all;
}

.navbar-list>li>a {
    font-weight: 500;
    text-decoration: none;
    transition: all 0.1s;
    padding: 5px 30px;
    margin: 5px;
}

.navbar-list>li>a:hover {
    border-radius: 3px;
    background-color: #8091ca;
}

.navlink-active {
    color: #f2f7f2;
    border-radius: 3px;
    border: 2px solid #8091ca;
}

/* Should be checkbox */

.menu-button {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    padding: 8px 10px 5px 10px;
    color: #bdccda;
    font-size: 28px;
    border-radius: 3px;
    border: 0;
    background: none;
}

.menu-button:hover {
    background-color: #515d86;
}

.navlink-right {
    float: right;
}

.navbar-items-none {
    display: none;
}

/* Section */

.section-full-size {
    margin-top: 54px;
    background-color: rgb(220, 223, 228);
    min-height: 100%;
    padding-bottom: 10px;
}

@media only screen and (max-width: 1234px) {
    .navbar-list>li {
        display: block;
        padding: 10px;
    }
    .navlink-right {
        float: none;
    }
}

@media only screen and (min-width: 1235px) {
    .nav-dropdown {
        display: none;
    }
    .navbar-items-none {
        display: initial;
    }
}

/* Coding */

#editor {
    position: absolute;
    right: 0;
    width: calc(100% - 180px);
    height: 300px;
    bottom: 0;
    font-family: monospace;
    z-index: 1;
    /*z-index: 2;*/
}

#splitter {
    bottom: 300px;
    height: 40px;
    width: 100%;
    background-color: rgb(51, 52, 59);
    position: absolute;
    cursor: ns-resize;
    display: inline-flex;
    z-index: 1;
}

.scripts {
    width: 180px;
    height: 100%;
    position: fixed;
    left: 0;
    background-color: #443850;
    overflow-y: auto;
    overflow-x: hidden;
}

.script-input {
    padding: 0.3em;
    width: 100%;
    background-color: #d4d4d4;
    border-style: none;
    border-top: 1px solid #443850;
}

/* BUTTONS */

.btn-link {
    color: #333333;
    padding: 5px 10px;
    border-radius: 3px;
}

.btn-link:hover {
    background-color: #dbdbdb;
}

/* MUTUAL RULES */

.btn {
    border-style: none;
    transition: all 0.2s;
    padding: 0.7em 1.7em;
    font-size: 15px;
    max-height: 40px;
}

/* COLOR STYLES */

/* PRIMARY */

.btn-primary {
    background-color: #3f51b5;
    color: #ebebee;
    border: 1px solid #5565dd;
}

.btn-primary:hover {
    background-color: #303f9f;
}

.btn-primary:active {
    background-color: #00186f;
}

.btn-primary:focus {
    outline-color: #3f51b5;
}

.btn-primary-selected {
    background-color: #000051;
}

/* PURPLE */

.btn-purple {
    background-color: #654f7e;
    color: #ebebee;
    border-top: 1px solid #443850;
    border-bottom: 1px solid #443850;
}

.btn-purple:hover {
    background-color: #5d4675;
}

.btn-purple:active {
    background-color: #523f66;
}

/* Crimson */

.btn-danger {
    background-color: #f30049;
    color: #ebebee;
    border: 1px solid #c20443
}

.btn-danger:hover {
    background-color: #c51c41;
}

.btn-danger:active {
    background-color: #99151c;
}

/* Green */

.btn-success {
    background-color: #10a353;
    color: #ebebee;
    border: 1px solid #40c204
}

.btn-success:hover {
    background-color: rgb(28, 197, 79);
}

.btn-success:active {
    background-color: #10b642;
}

.btn-block {
    display: block;
}

.btn-center {
    margin: 0 auto;
}

.btn-link {
    text-decoration: none;
    max-width: 90px;
    text-align: center
}

/* BUTTON SIZES */

.btn-fluid {
    width: 100%;
}

/* SPECIFIC BUTTONS */

.btn-adder {
    border-radius: 3px;
    padding: 3px;
    width: 32px;
    height: 32px;
    font-weight: bold;
    margin: 10px;
}

.btn-active {
    filter: brightness(145%);
}

.btn-small {
    padding: 5px;
    width: 30px;
    background-color: #2468ce;
    border: 1px solid #777777;
    height: 30px;
    margin-top: 1px;
    border-radius: 2px;
    color: #ffffff;
}

.btn-small:hover {
    filter: brightness(110%);
}

.btn-small:active {
    filter: brightness(90%);
}

/* ---------- */

/* Notifier   */

/* ---------- */

.notify {
    color: #FFFFFF;
    min-width: 260px;
    text-align: center;
    z-index: 100;
    padding: 10px;
    border-radius: 2px;
    visibility: hidden;
    display: block;
    margin-top: 5px;
}

#messages-container {
    left: calc(50% - 130px);
    position: fixed;
    margin-top: 55px;
}

.error-message {
    margin: 10px auto;
    text-align: center;
    padding: 20px 10px;
    background-color: crimson;
    color: azure;
    /* width: 18%; */
    max-width: 385px;
    border-radius: 3px;
}

.notify.visible {
    visibility: visible;
    animation: fade-in 0.7s, fade-out 0.7s 2.5s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.notify.success {
    background-color: rgb(42, 172, 74);
}

.notify.warning {
    background-color: rgb(255, 174, 0);
}

.notify.error {
    background-color: rgb(255, 75, 75);
}

.label-light {
    background-color: #757575;
    color: #ffffff;
    padding: 10px;
}

.dropdown {
    border-style: none;
    min-width: 80px;
}

.info-sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    right: 0;
    background-color: #696969;
    padding: 70px 10px;
    color: #FFFFFF;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Image */

.img-right {
    max-width: 440px;
    border-radius: 5px;
    display: inline;
}

@media only screen and (max-width: 864px) {
    .img-right {
        display: block;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 864px) {
    .img-right {
        float: right;
    }
}

/* Table */

table {
    width: 60%;
    margin: 0 auto;
    table-layout: auto;
    color: #2f2f2f;
    border-spacing: 1px;
    min-width: 500px;
}

@media only screen and (max-width: 1024px) {
    table {
        width: 80%;
    }
}

th {
    color: whitesmoke;
    padding: 8px;
}

tr {
    transition: all 0.3s;
    border-top: 1px solid #cccccc;
}

thead>tr {
    background-color: #2468ce;
}

tbody>tr {
    background-color: #fcfcfc;
}

@media only screen and (max-width: 600px) {
    td>progress {
        display: none;
    }
}

tr:hover {
    filter: brightness(95%);
}

td {
    color: #2f2f2f;
    text-align: center;
    padding: 10px;
}

/* ( Statistics page ) */

/* Additional paddign to container elements */

.padded {
    padding-left: 125px;
    padding-right: 125px;
}

@media only screen and (max-width: 1024px) {
    .padded {
        padding-left: 25px;
        padding-right: 25px;
    }
}

.profile-sidebar {
    background-color: rgb(112, 112, 112);
    padding: 85px 15px;
    text-align: center;
    width: 250px;
    color: rgb(250, 250, 250);
}

.fixed-sidebar {
    float: left;
    height: 100%;
    box-sizing: border-box;
    position: fixed;
}

.fixed-sidebar > a {
    display: block;
}

.profile-section {
    width: calc(100% - 250px);
}

.aside-section {
    box-sizing: border-box;
    float: right;
}

@media only screen and (max-width: 755px) {
    .fixed-sidebar {
        display: none;
    }
    .profile-section {
        float: none;
        width: 100%;
    }
    .aside-section {
        float: none;
    }
    .docs-section {
        width: unset;
    }
}

/* ACHIEVEMENTS */

.achievement-icon {
    float: left;
    padding: 15px;
    height: 46px;
    width: 55px;
    text-align: center;
    margin: -15px;
    font-size: 45px;
}

.achievement-item {
    width: 100%;
    min-width: 439px;
    background-color: rgb(239, 236, 255);
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px 0px #2f2f2f;
    margin-top: 9px;
    transition: all 0.2s;
}

.achievement-item:hover {
    filter: brightness(105%);
}

.achievement-date {
    float: right;
}

@media only screen and (max-width: 894px) {
    .achievement-date {
        display: none;
    }
}

.achievement-text {
    float: left;
    margin: 0;
    margin-left: 60px;
}

.achievement-text>p, h4 {
    margin: 0;
}

.achievement-disabled {
    filter: grayscale(100%) brightness(60%);
}

/* Icon colors */

.icon-bg-blue {
    background-color: #96abff;
    color: #4c4c4c;
}

.icon-bg-crimson {
    background-color: rgb(211, 7, 48);
    color: #dfdfdf;
}

/* Headers */

h2.section-header {
    padding-top: 10px;
    border-radius: 2px;
    /*box-shadow: inset 0px -6px 9px -8px #2f2f2f;*/
    color: #333333;
}

.padded-header {
    position: relative;
    padding-left: 20%;
}

.section-paragraph {
    padding-left: 150px;
    color: #333333;
}

.html-tag-icon {
    color: #6275ff;
}

.docs-code-block {
    background-color: #ebebeb;
    margin: 0 auto;
    border: 1px;
    padding: 15px;
    box-shadow: 0px 0px 3px 0px #2f2f2f;
}

.docs-code-block > p {
    text-align: justify;
    max-width: 900px;
}

.docs-code-block-object {
    background-color: #dbd5ec;
}

.docs-code-block>h3 {
    font-size: 22px;
    border-radius: 3px;
    width: 100px;
    color: rgb(6, 131, 89);
}

/* EDITOR OUTPUT */

p.output-line {
    margin: 0;
    padding: 3px;
    color: #2f2f2f;
    transition: all 0.1s;
    cursor: default;
}

p.output-line:hover {
    color: #d4d4d4;
    background-color: #53566B;
}

button.clear-button {
    padding: 4px;
    border-style: none;
    transition: all 0.2s;
    color: #2f2f2f;
}

button.clear-button:hover {
    background-color: crimson;
}

button.clear-button:hover>span {
    color: rgb(243, 243, 243);
}

/* LOADING WINDOW */

section.loading-window {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #2f2f2f;
    visibility: visible;
    z-index: 10;
}

div.loading-background {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    height: 30px;
    width: 50%;
    background-color: #bebed0;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: 0px 0px 7px 1px #3f51b5
}

div.loading-foreground {
    height: 30px;
    background-color: #3f51b5;
    max-width: 100%;
    width: 0%;
    border-radius: 2px;
}

p.loading-text {
    position: fixed;
    margin: 4px 0px 0px 0px;
    left: 46%;
    color: rgb(255, 255, 255);
}

progress {
    border: 1px solid #484848;
}

/** PROGRESS BARS */

progress::-moz-progress-bar {
    background-color: rgb(65, 162, 253);
}

progress::-webkit-progress-value {
    background-color: rgb(65, 162, 253);
}

progress::-webkit-progress-bar {
    background-color: rgb(236, 236, 236);
}

/** Multiplayer */

#round-info {
    text-align: center;
    margin: 0;
    position: fixed;
    bottom: 0;
    height: 40px;
    background-color: #464646;
    width: 100%;
    box-shadow: 0px -1px 1px 1px #3c3c3c;
}

#round-info-string {
    color: #ececec;
    padding: 10px;
    margin: 0;
}

.styled-link {
    text-align: center;
    color: #2f2f2f;
    text-decoration: none;
    transition: 0.2s all;
    border-radius: 2px;
    padding: 5px;
    text-decoration: dashed underline;
}

.styled-link:hover {
    background-color: #3f51b5;
    color: #ffffff;
}

.message-box {
    max-width: 500px;
    padding: 15px;
    border-radius: 3px;
}

.success-box {
    color: aliceblue;
    background-color: #64a94e;
}

.error-box {
    color: crimson;
    background-color: thistle;
}

/* Modal */

.modal {
    position: fixed;
    top: 15%;
    left: calc(50% - 250px);
    width: 500px;
    height: 145px;
    background-color: #f3f3f3;
    z-index: 5;
    border-radius: 3px;
    border: 1px solid #4d4d4d;
    box-shadow: 0px 0px 6px 0px #464646;
    padding: 8px 15px 15px 15px;
}

.modal-blanket {
    visibility: hidden;
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(55, 57, 63, 0.829);
}

.modal-footer {
    position: absolute;
    box-sizing: border-box;
    width: 95%;
    display: block;
    bottom: 0;
    margin-bottom: 15px;
}

/* Loader animation */

.spinner {
    width: 60px;
    height: 60px;
    border: 20px solid rgb(235, 239, 245);
    border-radius: 50%;
    border-top: 20px solid #2F2F2F;
    animation: load-animation 2s linear infinite;
    margin: 0 auto;
}

@keyframes load-animation {
    100% {
        transform: rotate(360deg);
    }
}

/* Multiplayer statistics table */

.stats-table {
    border-collapse: unset;
    border-spacing: 2px;
}

.stats-thead>tr {
    background-color: #6c88b152;
}

.stats-tbody>tr {
    font-size: xx-large;
    background-color: rgba(80, 74, 74, 0.63);
}

.stats-tbody>tr>td {
    color: #d3d7e6;
}

.code-anchor {
    text-decoration: none;
    transition: 0.2s all;
}

.code-anchor:hover {
    text-decoration: underline #2F2F2F;
}

code {
    font-size: 30px;
    font-weight: bold;
    color: rgb(80, 80, 80);
}

.docs-sidebar {
    width: 280px;
    padding: 65px 15px;
    color: rgb(221, 235, 255);
    background-color: #515d86;
}

.docs-sidebar code {
    font-size: 16px;
    color: rgb(221, 235, 255);
}

.docs-sidebar a {
    text-decoration: none;
}

.docs-sidebar a:hover {
    text-decoration: underline rgb(221, 235, 255);
}

.docs-section {
    margin-top: 54px;
}

@media only screen and (min-width: 755px) {
    .docs-section {
        width: calc(100% - 280px);
    }
}

.gray-header {
    color: rgb(105, 105, 105);
    padding: 10px 0px;
}